body {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
}

section {
    max-width: 85vw;
    padding: 1em;
}

.is-icon-button {
    border-radius: 50%;
    outline: none;
    padding: 1.5em;
    transition: all 0.2s ease;
}

.is-icon-button:hover {
    transform: translateY(-1em);
}

.hidden {
    display: none;
}